.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    position: relative;
}

.form-label {
    text-align: left;
}

.form-label {
    font-size: 1.4rem;
    padding-bottom: 6px;
    position: absolute;
    top: 12px;
    left: 13px;
    color: #999;
    user-select: none;
    pointer-events: none;
    transition: 0.3s ease;
}

.form-control {
    padding: 8px 12px;
    height: 38px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    font-size: 1.6rem;
    transition: 0.3s ease;
}

.form-control:focus {
    border: 1px solid var(--primary-color);
}

.form-control:not(:placeholder-shown) + .form-label,
.form-control:focus + .form-label {
    top: -10px;
    left: 8px;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: var(--primary-color);
}

.vertical-input {
    display: flex;
    flex-direction: row;
}

.vertical-input input {
    width: 16px;
    height: 16px;
}

.vertical-input span {
    margin-left: 12px;
    font-size: 1.4rem;
}

.form-submit .submit-btn {
    width: 110px;
    padding: 8px 16px;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.5rem;
}

.form-submit .submit-btn:first-child {
    margin-right: 12px;
}

.address-actions {
    display: flex;
}

.address-actions .edit-btn,
.address-actions .delete-btn {
    width: 80px;
    margin-top: 12px;
    padding: 8px 12px;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
}

.address-actions .edit-btn {
    margin-right: 12px;
}
