.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}

.modal.open {
    display: block;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-inner::-webkit-scrollbar {
    display: none;
}

.modal-body {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    background: white;
    max-width: 1000px;
    margin: auto;
    padding: 16px;
    border-radius: 5px;
    /* max-height: 500px;
    overflow: hidden; */
}

.order {
    display: flex;
    margin-top: 20px;
}

.wrapper {
    overflow-y: scroll;
    position: relative;
    min-height: max-content;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* overflow: hidden; */
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.modal-content .form-control {
    margin: 10px 20px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-left: 20px;
}

.close-icon {
    position: absolute;
    top: -11px;
    right: -11px;
    font-size: 18px;
    padding: 4px 6px;
    background: black;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.modal-title h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.info-wrapper {
    margin-bottom: 16px;
    display: flex;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.product-img img {
    width: 160px;
    margin-right: 12px;
    object-fit: cover;
}

.product-detail {
    max-width: 400px;
}

.product-detail .title {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-detail .price {
    margin: 12px 0;
}

.product-detail .price span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.product-detail .price span:nth-child(2) {
    font-size: 16px;
    margin-left: 12px;
    text-decoration: line-through;
}

.quantity {
    margin-top: 12px;
    font-size: 18px;
}

.note {
    font-size: 18px;
    line-height: 20px;
    width: 300px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    flex: 4;
    margin-left: 20px;
}

.user-info .user p {
    display: block;
}

.user .title {
    font-size: 22px !important;
    font-weight: bold;
}

.user .title,
.user .user-name,
.user .email,
.user .phone,
.user .address {
    font-size: 18px;
    margin-bottom: 10px;
}

.Add {
    margin: 16px 20px;
    padding: 16px 0 20px;
    border-radius: 5px;
    background: #32c4f0;
    cursor: pointer;
}

.box-thumb {
    display: flex;
}

.file {
    height: 50px;
    flex: 1;
}

.preview-img {
    width: 200px;
    margin-right: 14px;
}
